<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center mb-4">
				<h2 class="section-heading">Contact</h2>
				<p class="contact-text">
					Reach out at <a href="mailto:contact@reactiveblend.com"
						class="highlighted-mail">contact@reactiveblend.com</a>, we’ll get back to you real soon!
                </p>
				<p class="contact-text">
					Or come hang with us on social. We’re just a click away! 🌍
                </p>
			</div>
		</div>

		<!-- Redes Sociales -->
		<div class="col-lg-12 text-center mb-4">
			<ul class="list-inline social-buttons">
				{% for network in site.social %}
				<li>
					<a href="{{ network.url }}" target="_blank">
						<i class="{% if network.title == 'envelope' %}fas{% else %}fab{% endif %} fa-{{ network.title }}"></i>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</section>
