<!-- Games Section -->

<section id="games">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Scary Pet</h2>
            </div>
        </div>
        <img src="img/ScaryPetBanner.png" alt="Banner Scary Pet" class="full-width-banner">

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="text-center">
                    <h3 class="subheading">Pics</h3>
                </div>
                <div class="gallery">
                    <a href="img/img1.jpg" data-lightbox="gallery" data-title="Imagen 1">
                        <img src="img/img1_thumb.jpg" alt="Imagen 1">
                    </a>
                    <a href="img/img2.jpg" data-lightbox="gallery" data-title="Imagen 2">
                        <img src="img/img2_thumb.jpg" alt="Imagen 2">
                    </a>
                    <a href="img/img3.jpg" data-lightbox="gallery" data-title="Imagen 3">
                        <img src="img/img3_thumb.jpg" alt="Imagen 3">
                    </a>
                    <a href="img/img4.jpg" data-lightbox="gallery" data-title="Imagen 4">
                        <img src="img/img4_thumb.jpg" alt="Imagen 4">
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row mt-4">
                    <div class="text-center">
                        <h3 class="subheading">About</h3>
                    </div>
                </div>
                <p class="text-muted">
                    Scary Pet is an immersive horror game where you take care of a mysterious creature. However, as time passes, the pet begins to show strange behaviors. Will you be able to uncover the secrets behind this eerie companion?
                    The game blends suspense and strategy, challenging players to make critical decisions that affect the outcome. With stunning visuals and a haunting soundtrack, Scary Pet delivers an unforgettable horror experience.
                </p>
            </div>
        </div>
    </div>
</section>