<!-- Games Section -->

<section id="games">
    <div class="section-separator"></div> <!-- Ajuste por barra sup -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">pet.exe</h2>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-lg-12">
                <img src="img/banner_petexe.png" alt="Banner Scary Pet" class="main-game-img">
            </div>
        </div>
         -->
        <img src="img/banner_petexe.png" alt="Banner Scary Pet" class="full-width-banner">

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row mt-4">
                    <div class="text-center">
                        <h3 class="subheading">ABOUT</h3>
                    </div>
                </div>
                <p class="text-muted" style="text-align: justify;">
                    Pet.exe is a hybrid 2D-3D horror game where you take care of a mysterious creature.
                    It looks cute, but… don’t be fooled.
                </p>
                <p class="text-muted" style="text-align: justify;">
                    As time passes, the pet begins to show strange behavior and your relationship starts to twist.
                    Will you be able to uncover the secrets behind this otherworldly companion?
                </p>
                <p class="text-muted" style="text-align: justify;">
                    The game blends suspense and strategy, challenging players to make critical decisions that affect
                    the outcome.
                    Pet.exe is not just horror — it’s an emotional spiral into something... that won’t let you look
                    away.
                </p>
                <p class="text-muted" style="font-style: italic;" style="text-align: justify;">
                    This creepy craft is still coming to life. Follow us for the latest news and sneak peeks!
                </p>
            </div>
            <div class="col-12 col-lg-6">
                <div class="text-center">
                    <h3 class="subheading">PICS</h3>
                </div>
                <div class="gallery">
                    <a href="img/gallery-bathroom.png" data-lightbox="gallery" data-title="Imagen 4">
                        <img src="img/gallery-bathroom_thumb.png" alt="Imagen 4">
                    </a>
                    <a href="img/gallery-kitchen.png" data-lightbox="gallery" data-title="Imagen 2">
                        <img src="img/gallery-kitchen_thumb.png" alt="Imagen 2">
                    </a>
                    <a href="img/gallery-living.png" data-lightbox="gallery" data-title="Imagen 1">
                        <img src="img/gallery-living_thumb.png" alt="Imagen 1">
                    </a>
                    <a href="img/gallery-playroom.png" data-lightbox="gallery" data-title="Imagen 3">
                        <img src="img/gallery-playroom_thumb.png" alt="Imagen 3">
                    </a>
                    <a href="img/gallery-bedroom.png" data-lightbox="gallery" data-title="Imagen 4">
                        <img src="img/gallery-bedroom_thumb.png" alt="Imagen 4">
                    </a>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12 text-center">
                <h3 class="subheading">ROADMAP</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 text-center">
                <img src="img/roadmap.gif" alt="Scary Pet Roadmap" class="img-fluid w-100 roadmap-img">
            </div>
            <div class="col-12 col-lg-6">
                <h4 class="subheading">CURRENT STAGE:</h4>
                <h4 class="subheading">Making the 2D world:</h4>
                <p class="text-muted">
                    We're currently focused on shaping the 2D layer of the game world.
                </p>
                <p class="text-muted" style="text-align: justify;">
                    Since Pet.exe unfolds across dimensions that bleed into each other, each one needs to stand strong
                    on its own — yet be ready to twist and merge when the time comes. Right now, we’re pouring our
                    energy into making the 2D experience as rich and polished as possible, before moving forward to
                    seamlessly connect it with the 3D layer.
                </p>
                <p class="text-muted" style="text-align: justify;">
                    This foundation is crucial — it’s where the player will think they’re in control.
                </p>
                <p class="text-muted" style="font-style: italic;" style="text-align: justify;">
                    (Soon, you'll find a link here to a full Development Roadmap, with deeper insights for those who
                    want to dig further.)
                </p>
            </div>
        </div>
    </div>
</section>