<!-- Games Section -->

<section id="games">
    <div class="section-separator"></div> <!-- Ajuste por barra sup -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">pet.exe</h2>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-lg-12">
                <img src="img/banner_petexe.png" alt="Banner Scary Pet" class="main-game-img">
            </div>
        </div>
         -->
        <img src="img/banner_petexe.png" alt="Banner Scary Pet" class="full-width-banner">

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="row mt-4">
                    <div class="text-center">
                        <h3 class="subheading">ABOUT</h3>
                    </div>
                </div>
                <p class="text-muted" style="text-align: justify;">
                    Pet.exe is a hybrid 2D–3D horror game that puts you in the shoes of a lone night security guard. A
                    sudden power outage leaves the warehouse on emergency lighting. You depend on a failing generator
                    that partially holds the darkness at bay, powering only the minimal circuits, including a dusty
                    computer at the far end running a Tamagotchi-inspired game called “Pet.exe.” Driven by curiosity,
                    you make the fateful decision to launch it — and everything goes wrong.
                </p>
                <p class="text-muted" style="text-align: justify;">
                    What first appears to be a cute virtual pet quickly turns sinister. Whenever it’s displeased, the
                    creature slips out of the screen and melts into the shadows of the warehouse. The game flips: now
                    you’re the one being toyed with.
                </p>
                <p class="text-muted" style="text-align: justify;">
                    You’ll be forced into a relentless routine — shuttling across the dark sprawling warehouse to
                    refuel the failing generator while trying to keep the pet content. Every trip is a gamble: the
                    warehouse has become a hunting ground filled with cryptic surprises, and every choice can tilt the
                    balance toward survival... or the end.
                </p>
                <p class="text-muted" style="text-align: justify; margin-top: 1.5em;">
                    <em>Pet.exe</em> is inspired by <em>Five Nights at Freddy’s</em>, the classic Tamagotchi virtual pets, and
                    countless horror games we grew up with — like <em>Slender: The Eight Pages</em> and many others.
                </p>
            </div>
            <div class="col-12 col-lg-6">
                <div class="text-center">
                    <h3 class="subheading">PICS & VIDEOS</h3>
                </div>
                <div class="gallery">
                    <a href="img/gallery-desktop.png" data-lightbox="gallery" data-title="Imagen 8">
                        <img src="img/gallery-desktop_thumb.png" alt="Imagen 8">
                    </a>
                    <a href="img/gallery-bathroom.png" data-lightbox="gallery" data-title="Imagen 1">
                        <img src="img/gallery-bathroom_thumb.png" alt="Imagen 1">
                    </a>
                    <a href="img/gallery-kitchen.png" data-lightbox="gallery" data-title="Imagen 2">
                        <img src="img/gallery-kitchen_thumb.png" alt="Imagen 2">
                    </a>
                    <a href="img/gallery-bedroom.png" data-lightbox="gallery" data-title="Imagen 5">
                        <img src="img/gallery-bedroom_thumb.png" alt="Imagen 5">
                    </a>
                    <a href="img/gallery-playroom.png" data-lightbox="gallery" data-title="Imagen 4">
                        <img src="img/gallery-playroom_thumb.png" alt="Imagen 4">
                    </a>
                    <a href="img/gallery-simon.png" data-lightbox="gallery" data-title="Imagen 3">
                        <img src="img/gallery-simon_thumb.png" alt="Imagen 3">
                    </a>
                    <a href="img/gallery-scream.png" data-lightbox="gallery" data-title="Imagen 6">
                        <img src="img/gallery-scream_thumb.png" alt="Imagen 6">
                    </a>
                    <a href="img/gallery-error.png" data-lightbox="gallery" data-title="Imagen 7">
                        <img src="img/gallery-error_thumb.png" alt="Imagen 7">
                    </a>
                </div>
                <div class="video-container">
                    <iframe src="https://www.youtube.com/embed/Mh_Vm-XasNg?si=_o6BYB5r4gdyj_Ty"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12 text-center">
                <h3 class="subheading">ROADMAP</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6 text-center">
                <img src="img/roadmap.gif" alt="Scary Pet Roadmap" class="img-fluid w-100 roadmap-img">
            </div>
            <div class="col-12 col-lg-6">
                <h4 class="subheading">CURRENT STAGE:</h4>
                <h4 class="subheading">Making the 3D world:</h4>
                <p class="text-muted" style="text-align: justify;">
                    With the 2D stage defined, we’re now closing the gameplay loop by bringing it into a
                    three-dimensional space.
                </p>
                <p class="text-muted" style="text-align: justify;">
                    The 3D location is a seemingly ordinary place that subtly shifts in response to the pet’s
                    mood and the player’s choices.
                </p>
                <p class="text-muted" style="text-align: justify;">
                    Through architecture, 3D modeling, lighting and spatial audio, every path and object is designed to
                    convey an immediate emotional tone, from quiet, strange comfort to sudden dread, without relying on
                    mechanical explanation.
                </p>
                <p class="text-muted" style="text-align: justify;">
                    Layered puzzles and strategically placed secrets generate emergent interactions that keep players on
                    edge and focused on staying alive.
                </p>
                <!--
                <p class="text-muted" style="font-style: italic;" style="text-align: justify;">
                    (Soon, you'll find a link here to a full Development Roadmap, with deeper insights for those who
                    want to dig further.)
                </p>
                -->
            </div>
        </div>
    </div>
</section>